body {
    font-family: 'Georgia', serif;
    background-color: white;
}

.main-image {
    max-width: 400px;
    border-radius: 10px;
}

.decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2; /* Put it ON TOP */
    opacity: 0.4; /* Optional for transparency */
    pointer-events: none; /* So clicks go through */
}

.nav-link {
    font-weight: bold;
    color: #333 !important;
}
